<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VisiOners</title>
</head>
<style>
     .center-content {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    .short-input {
      width: 460px; /* Ancho personalizado */
    }

     .custom-img {
      width: 140px;
      height: auto;
    }
    .flex-container {
      display: flex;
      align-items: center;
    }
    @media (max-width: 768px) {
      /* Ajustar estilos para dispositivos móviles si es necesario */
      .flex-container {
        flex-direction: column;
        align-items: flex-start;
      }
    }
</style>
<script>
 document.body.onload = function() {
     var precio = 0;
 {{#each resultados}}
   
    {{#if status}} 
     precio +=7;
     {{else}}
     precio +=6;
    {{/if}}
{{/each}}
console.log(precio)

document.getElementById("precio").innerHTML = "Precio: " + precio + "€"
 }
</script>
<body>

<div class="container">
    {{#unless status}} 
    <div class="row">
      <div class="col-md-12 col-xs-6">
        <div class="row">
          <div class="col-md-6 mb-2">
            <span style="color: aliceblue;">Nombre</span>
            <input type="text" class="form-control form-control-sm mb-2 short-input" placeholder="Input 1">
          </div>
          <div class="col-md-6 mb-2">
            <span style="color: aliceblue;">Apellidos</span>
            <input type="text" class="form-control form-control-sm mb-2 short-input" placeholder="Input 2">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-2">
            <span style="color: aliceblue;">Correo</span>
            <input type="text" class="form-control form-control-sm mb-2 short-input" placeholder="Input 3">
          </div>
          <div class="col-md-6 mb-2">
            <span style="color: aliceblue;">Teléfono</span>
            <input type="text" class="form-control form-control-sm mb-2 short-input" placeholder="Input 4">
          </div>
        </div>
      </div>
    </div>
    {{/unless}}
    <hr>
    <br>
   
  
    <div class="row">
      <div class="col-md-6">
         <h1 style="color: aliceblue;">RESUMEN</h1>
        <div class="container">
<div class="card mb-3 border-0 bg-transparent text-white" style="max-width: 500px; ">
  <div class="row">
    <div class="col-md-4">
      <img src="../img/caratulas/{{#each compra}}{{caratula}}{{/each}}"  id="imagen_entradas">
    </div>
    <div class="col-md-8">
      <div class="card-body justify-content-center">
        {{#each compra}}
<p style="color: aliceblue;">Pelicula: {{titulo}}</p>
<p style="color: aliceblue;">Fecha: {{fecha}}</p>
 {{/each}}
 <p style="color: aliceblue;">Butacas:
{{#each resultados}}
<span style="color: aliceblue;">{{numero}}</span>
 {{/each}}</p>
 
  {{#each compra}}
<p style="color: aliceblue;">Hora: {{hora}}</p>
<p style="color: aliceblue;">Sala: {{nombre_sala}}</p>
 {{/each}} 
 <p style="color: aliceblue;" id="precio"></p>
      </div>
    </div>
  </div>
</div>
</div>
      
      
      </div>
      <div class="col-md-6">
           <h1 style="color: aliceblue;">PAGO</h1>
        <p>Div ocupando 6 columnas</p>
      </div>
    </div>
  </div>






       
          
 
























      
 

</body>
</html>
