<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VisiOners</title>
</head>

<link href="../css/main.css" rel="stylesheet" type="text/css" />
<script src="../js/entradas.js"></script>
<script src="../js/register.js"></script>
<script src="../js/login.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

<body>
<br><br><br><br><br>
  {{#each reserva}}
  <button href="#" class="btn btn-secondary" onclick="history.back();" style="margin-left: 12%">Volver</button>
 <div class="container">
  <div class="row">
  
    <div class="col-md-6">
    <h1>Precios</h1>
    <div class="card border-0 bg-transparent text-white">
        <div class="card-body text-center">
          <br>
          
            <div style="background-color: rgb(19, 19, 19); color: white; padding: 10px;">
                <p class="m-0"><strong>No registrado:</strong>  7 euros</p>
            </div>
            <br>
            <div style="background-color: rgb(19, 19, 19); color: white; padding: 10px;">
                <p class="m-0"><strong>Registrado:</strong> 6 euros</p>
            </div>
        </div>
    </div>
</div>
    <div class="col-md-6">
       <h1>Sesión</h1>
       <br>
      <div class="card mb-3 border-0 bg-transparent text-white" style="max-width: 740px;">
        <div class="row g-0">
          <div class="col-md-4 d-flex justify-content-center">
            <img src="../img/caratulas/{{caratula}}"   id="imagen_compra" alt="Carátula de la película {{caratula}}">
          </div>
          <div class="col-md-8 d-flex justify-content-center align-items-center">
            <div class="card-body text-center">
              <h5 class="card-title">{{titulo}}</h5>
              <p class="card-text">Sala: {{nombre_sala}}</p>
              <p class="card-text">Duración: {{duracion}} minutos</p>
              <p class="card-text">Género: {{genero}}</p>
              <p class="card-text">Hora: {{hora}}</p>
              <p class="card-text">Fecha: <span id="fecha">{{fecha}}</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
  <br>

  <hr class="w-75 mx-auto">
  <br>
 <div class="container ">
  <form action="/procesar-checkboxes" method="POST" id="formulario">
    {{/each}}
     <h1 >Reserve su asiento</h1>
     <br>
    <div class="mx-auto" style="width: 300px; height:200px;">
      <img src="../img/pantalla.png" style="width: 270px; height: 40px;" alt="pantalla">
      <br><br>
      {{#each salas}}
      <input class="form-check-input" type="checkbox" value="{{butaca_id}}" name="opciones" style="width: 50px;"
        {{#unless disponible}} style="background-color: black;" disabled{{/unless}}>
      {{/each}}
      <br>
      <br>

      <button onclick="validar()" value="enviar" style="float: right;">Siguiente</button>
    </div>
    </div>
  </form>
</body>
</html>