<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="film.js"></script>
    <script src="../js/login.js"></script>
	  <script src="../js/register.js"></script>
</head>
<body>
    <br>  <br>  <br>  <br>    <br>  <br>
      <button href="#" class="btn btn-secondary" onclick="window.location.href='https://visioners.onrender.com';" style="margin-left: 12%">Página principal</button>
      
    {{#each reserva}}
   <br><br>

   <div class="container">
  <div class="row">
    <div class="col-md-12 ">
      <h1 style="color: aliceblue; text-aling:center">{{titulo_pelicula}}</h1>
      <br>
      <div class="d-flex justify-content-center">
        <div class="card mb-3 border-0 bg-transparent text-white" style="max-width: 500px;">
          <div class="row">
            <div class="col-md-4 d-flex justify-content-center">
                 <img src="../img/caratulas/{{caratula}}" id="imagen_compra" alt="{{caratula}}">
            </div>
            <div class="col-md-8">
              <div class="card-body d-flex align-items-center justify-content-center" id="datos_sesion" style="flex-direction: column;" id="datos_sesion">
                <h5 id="precio"></h5>
                <br>
               
                <p><strong>Película:</strong> <span id="titulo">{{titulo_pelicula}}</span></p>
                <p  id="fecha"><strong>Fecha:</strong>  <span id="fecha_final">{{fecha}}</span></p>
            
                <p><strong>Nº de butacas:</strong> 
                  <span id="butacas">
                   
                    {{butacas}}<span style="color: transparent;">,</span>
                    
                  </span>
                </p>
             
                <p><strong>Hora:</strong> <span id="hora">{{hora}}</span></p>
                <p><strong>Sala:</strong> <span id="sala">{{sala}}</span></p>
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
     {{/each}}
</body>
</html>