<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VisiOners</title>
</head>

<link href="../css/main.css" rel="stylesheet" type="text/css" />
<script src="../js/entradas.js"></script>
<script src="../js/index.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

<body>

  {{#each reserva}}
  <div class="container">
  <h1 style="color: aliceblue;">SESIÓN</h1>
</div>

<div class="container d-flex align-items-center justify-content-center">
  <div class="card mb-3 border-0 bg-transparent text-white" style="max-width: 740px;">
    <div class="row g-0">
      <div class="col-md-4 d-flex align-items-center">
        <img src="../img/caratulas/{{caratula}}" id="imagen_entradas" class="img-fluid" alt="Carátula de la película {{caratula}}">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{titulo}}</h5>
          <p class="card-text">Sala: {{nombre_sala}}</p>
          <p class="card-text">Duración: {{duracion}} minutos</p>
          <p class="card-text">Género: {{genero}}</p>
          <p class="card-text">Fecha: <span id="fecha">{{fecha}}</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
  <br>

  <hr class="w-75 mx-auto">
  <br>
  <h1 style="color: aliceblue;"> RESERVA SU ASIENTO</h1>
  <form action="/procesar-checkboxes" method="POST" id="formulario">
    {{/each}}
    <div class="mx-auto" style="width: 300px; height:200px;">
      <img src="../img/pantalla.png" style="width: 270px; height: 40px;" alt="pantalla">
      <br><br>
      {{#each salas}}
      <input class="form-check-input" type="checkbox" value="{{butaca_id}}" name="opciones" style="width: 50px;"
        {{#unless disponible}} style="background-color: black;" disabled{{/unless}}>
      {{/each}}
      <br>
      <br>

      <button onclick="validar()" value="enviar" style="float: right;">Siguiente</button>
    </div>
  </form>
</body>
</html>