<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VisiOners</title>
    <script src="../js/film.js"></script>
    <script src="../js/index.js"></script>
    <link href="../css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="rt-main" class="mb12">
        <div class="rt-grid-12">
            <div class="rt-block component-block main-overlay-dark">
                <div id="rt-mainbody">
                    <div class="component-content">
                        <div class="peli-info" id="header">
                            <div class="row">
                                <div class="col-md-4 col-xs-6" id="film-card">
                                    <h1 class="first_name" id="nombre_pelicula" data-id="{{pelicula.id}}">
                                        {{pelicula.titulo}}</h1>
                                    <br>
                                    <div class="foto"><img src="../img/caratulas/{{pelicula.caratula}}" alt="{{pelicula.caratula}}"></div>
                                </div>
                                <div class="col-md-8 align-items-center" id="film-info">
                                    <div style="width: 90%">
                                        <div class="description">
                                            <br>
                                            <br>
                                            <br>
                                            <p style="margin-top: 30px;"><b>Sinopsis</b>: {{pelicula.sinopsis}}</p>                                           
                                        </div>
                                        <div class="extraInfo">
                                            <div>
                                                <p><b>Duración</b>: {{pelicula.duracion}} minutos</p>
                                                <p><b>Dirección</b>: {{pelicula.direccion}}</p>
                                                <p><b>Género</b>: {{pelicula.genero}}</p>
                                                <select id="dateSelector"></select>
                                                <br>
                                                <br>
                                                <p><b>Horario</b>:
                                                    <span id="horario"></span>
                                                </p>
                                                <div class="container">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
            <br>
            <h1 style="color: aliceblue; text-align:center">TRAILER</h1>
            <br>
            <div class="container">
                <div class="ratio" style="--bs-aspect-ratio: 40%;">
                    <iframe src={{pelicula.trailer}} title="YouTube video" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>
</body>
</html>