<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="../css/main.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>

<body>
  <script>

    error = true;


    const formulario = document.getElementById('signup-form');
    const botonEnvio = formulario.querySelector('input[type="submit"]');

    const campoNombre = document.querySelector("[name=nombre]");
    const campoApellidos = document.querySelector("[name=apellidos]");
    const campoTelefono = document.querySelector("[name=telefono]");
    const campoEmail = document.querySelector("[name=email]");
    const campoPassword = document.querySelector("[name=password]");


    const regexNombre = /^[a-zA-ZáéíóúÁÉÍÓÚñÑüÜ\s']+$/;
    const regexApellidos = /^[a-zA-ZáéíóúÁÉÍÓÚñÑüÜ\s'-]+$/;
    const regexTelefono = /(\+34|0034|34)?[ -]*(6|7)[ -]*([0-9][ -]*){8}/;
    const regexEmail = /[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{2,5}/;
    const regexPassword = /^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$/;

    function validarNombre(message, e){
      const field = e.target;
      const fieldValue = e.target.value;

      if (fieldValue.trim().length === 0 || !regexNombre.test(fieldValue)) {
        field.classList.add("invalid")
        field.nextElementSibling.classList.add("error")
        field.nextElementSibling.innerText = message;
        error = false;
      } else {
        field.classList.remove("invalid")
        field.nextElementSibling.classList.remove("error")
        field.nextElementSibling.innerText = "";
        error = true;
      }
    }

    function validarApellido(message, e){
      const field = e.target;
      const fieldValue = e.target.value;

      if (fieldValue.trim().length === 0 || !regexApellidos.test(fieldValue)) {
        field.classList.add("invalid")
        field.nextElementSibling.classList.add("error")
        field.nextElementSibling.innerText = message;
        error = true;
      } else {
        field.classList.remove("invalid")
        field.nextElementSibling.classList.remove("error")
        field.nextElementSibling.innerText = "";
        error = false;
      }
    }


    function validarTelefono(message, e){
      const field = e.target;
      const fieldValue = e.target.value;

      if (fieldValue.trim().length === 0 || !regexTelefono.test(fieldValue)) {
        field.classList.add("invalid")
        field.nextElementSibling.classList.add("error")
        field.nextElementSibling.innerText = message;
        error = true;
      } else {
        field.classList.remove("invalid")
        field.nextElementSibling.classList.remove("error")
        field.nextElementSibling.innerText = "";
        error = false;
      }
    }

    function validarEmail(message, e){
      const field = e.target;
      const fieldValue = e.target.value;

      if (fieldValue.trim().length === 0 || !regexEmail.test(fieldValue)) {
        field.classList.add("invalid")
        field.nextElementSibling.classList.add("error")
        field.nextElementSibling.innerText = message;
        error = false;
      } else {
        field.classList.remove("invalid")
        field.nextElementSibling.classList.remove("error")
        field.nextElementSibling.innerText = "";
        error = true;
      }
    }

    function validarPassword(message, e){
      const field = e.target;
      const fieldValue = e.target.value;

      if (fieldValue.trim().length === 0) {
        field.classList.add("invalid")
        field.nextElementSibling.classList.add("error")
        field.nextElementSibling.innerText = message;
        error = true;
      } else {
        field.classList.remove("invalid")
        field.nextElementSibling.classList.remove("error")
        field.nextElementSibling.innerText = "";
        error = false;
      }
    }
 
      function ver(){
         const formulario = document.getElementById('signup-form');
         const inputs = formulario.querySelectorAll('input');

        let inputsVacios = false;

         inputs.forEach(function(input) {
        const valorInput = input.value.trim();
      
        if (valorInput === '') {
          inputsVacios = true;
          return;
        }
        });

        if(inputsVacios){
           alert("Rellene todos los campos")
            event.preventDefault();
        }
       else if(error){
          console.log("fddf")
          event.preventDefault();
        }
      }

    function filtrarPeliculas(){

      var genero = document.getElementById("generoSelect").value;
     
       fetch(`/filtrar?genero=${genero}`, { method: 'GET' })
       .then(response => response.json())
       .then(data => {
        console.log(data)
        if(data.length === 0){
          window.location.reload()
          window.scrollTo(0, scrollPosition);
        }
        var contenedorPeliculas = document.getElementById("contenedorPeliculas")
        contenedorPeliculas.innerHTML = "";

        data.forEach(pelicula => {
          var contenedor = document.createElement("div");
          contenedor.className = "grid-afiche animate__bounce";
            contenedorPeliculas.appendChild(contenedor)
            var enlace = document.createElement("a");
            enlace.href=`/film/${pelicula.id}`;
            var imagen = document.createElement("img");
            imagen.src = `./img/caratulas/${pelicula.caratula}`;
            imagen.className = `peliculas animate__bounce`;
            enlace.appendChild(imagen)
            contenedor.appendChild(enlace)
        })

        console.log(data);

       
    })


      
    }


    campoNombre.addEventListener("blur", (e) =>  validarNombre("Introduce un nombre correcto", e))
    campoApellidos.addEventListener("blur", (e) => validarApellido("Introduce un apellido correcto", e))
    campoTelefono.addEventListener("blur", (e) => validarTelefono("Introduce un telefono correcto", e))
    campoEmail.addEventListener("blur", (e) => validarPassword("Introduce un email correcto", e))
    campoPassword.addEventListener("blur", (e) => validarPassword("De 8 a 15 digitos con al menos un simbolo,mayúscula y número", e))
    document.getElementById("enviarSignup").addEventListener("click",ver);
     document.addEventListener('DOMContentLoaded', function() {
      document.getElementById('generoSelect').addEventListener('change', filtrarPeliculas)
    });
    

  </script>

  <!--CARRUSEL-->

  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
        aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../img/oppenhaimer.png" class="img-fluid centrar d-block w-60" alt="oppenhaimer">
      </div>
      <div class="carousel-item">
        <img src="../img/napoleon.png" class="img-fluid centrar d-block w-60" alt="napoleon">
      </div>
      <div class="carousel-item">
        <img src="../img/super_mario.png" class="img-fluid centrar d-block w-60" alt="super_mario">
      </div>
      <div class="carousel-item">
        <img src="../img/spiderman.png" class="img-fluid centrar d-block w-60" alt="spiderman">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <br>
  <h1 style="color: aliceblue;">CARTELERA</h1>


  <div id="filmmodule" class="container text-center">
<form id="filtrarForm">
     <select id="generoSelect" name="genero">
          <option>Todos los géneros</option>
          {{#each generos}}
          <option value="{{genero}}">{{genero}}</option>
          {{/each}}
        </select>
</form>
      
    <div class="collapse show mb-3" id="filmsCollapse" aria-expanded="false">
      <div class="container d-flex flex-wrap px-0 mx-0 mx-md-auto" id="contenedorPeliculas">
        {{#each peliculas}}
        <div class="grid-afiche animate__bounce"><a href="./film/{{id}}">
            <img src='./img/caratulas/{{caratula}}' alt={{caratula}} class="peliculas animate__bounce" genero={{genero}}>
          </a>
        </div>
        {{/each}}
      </div>
    </div>
  </div>




</body>

</html>