<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VisiOners</title>
  <link href="../css/main.css" rel="stylesheet" type="text/css" />
   <script src="../js/index.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>

<body>
 

  <!--CARRUSEL-->

  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
        aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../img/oppenhaimer.png" class="img-fluid centrar d-block w-60" alt="oppenhaimer">
      </div>
      <div class="carousel-item">
        <img src="../img/napoleon.png" class="img-fluid centrar d-block w-60" alt="napoleon">
      </div>
      <div class="carousel-item">
        <img src="../img/super_mario.png" class="img-fluid centrar d-block w-60" alt="super_mario">
      </div>
      <div class="carousel-item">
        <img src="../img/spiderman.png" class="img-fluid centrar d-block w-60" alt="spiderman">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    
  </div>
  <br>
  <hr class="w-75 mx-auto">
  <br>
  


  <div id="filmmodule" class="container">
    <h1 style="color: aliceblue;" id="cartelera">CARTELERA</h1>
<form id="filtrarForm">
     <select id="generoSelect" name="genero">
          <option>Todos los géneros</option>
          {{#each generos}}
          <option value="{{genero}}">{{genero}}</option>
          {{/each}}
        </select>
</form>
<br>
      
    <div class="collapse show mb-3" id="filmsCollapse" aria-expanded="false">
      <div class="container d-flex flex-wrap px-0 mx-0 mx-md-auto justify-content-center align-items-center" id="contenedorPeliculas">
        {{#each peliculas}}
        <div class="grid-afiche animate__bounce"><a href="./film/{{id}}">
            <img src='./img/caratulas/{{caratula}}' alt={{caratula}} class="peliculas animate__bounce" genero={{genero}}>
          </a>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  <br>
   <hr class="w-75 mx-auto">
   <br>
   
  <div class="container">
    <h1 style="color: aliceblue;">Aqui estamos</h1>
  <div class="row">
    <div class="col-md-6">
      <!-- Texto centrado -->
      <div class="texto-centrado">
        <h2 style="color: aliceblue;">Dirección</h2>
        <p style="color: aliceblue;">Avenida del vivero</p>
        <h2 style="color: aliceblue;">Teléfono</h2>
        <p style="color: aliceblue;">667898567</p>
        <h2 style="color: aliceblue;">Como llegar:</h2>
        <h4 style="color: aliceblue;">En autobús:</h4>
        <p style="color: aliceblue;">Avenida del vivero</p>
        <h4 style="color: aliceblue;">En tren:</h4>
        <p style="color: aliceblue;">Avenida del vivero</p>
      </div>
    </div>
    <div class="col-md-6">
      <!-- Imagen a la derecha -->
      <img src="./img/location.png" alt="Imagen" class="img-fluid">
    </div>
  </div>
</div>



</body>

</html>